@model Techan.ViewModels.Products.ProductCreateVM
<section class="content-main">
	<div class="row">
		<div class="col-12">
			<div class="content-header">
				<h2 class="content-title">Add New Product</h2>
				<div>
					<a asp-action="Index" class="btn btn-md rounded font-sm hover-up">List</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card mb-4">
				<div class="card-body">
					<form method="post" enctype="multipart/form-data">
						<div class="row">
							<div class="col-md-3">
								<h6>1. General info</h6>
							</div>
							<div class="col-md-9">
								<div class="mb-4">
									<label asp-for="Name" class="form-label"></label>
									<input asp-for="Name" class="form-control">
									<span asp-validation-for="Name" class="text-danger text-sm"></span>
								</div>
								<div class="mb-4">
									<label asp-for="Description" class="form-label"></label>
									<textarea asp-for="Description" class="form-control" rows="4"></textarea>
									<span asp-validation-for="Description" class="text-danger text-sm"></span>
								</div>
								<div class="mb-4">
									@* <label asp-for="BrandId" class="form-label">Brand name</label> *@
									<select asp-for="BrandId" asp-items='new SelectList(ViewBag.Brands,"Id","Name")' class="form-select">
										<option disabled selected>Brand name</option>
									</select>
									<span asp-validation-for="CategoryId" class="text-danger text-sm"></span>
								</div>
								<div class="mb-4">
									<label asp-for="CategoryId" class="form-label">Category name</label>
									<select asp-for="CategoryId" asp-items='new SelectList(ViewBag.Categories,"Id","Name")' class="form-select">
									</select>
									<span asp-validation-for="CategoryId" class="text-danger text-sm"></span>
								</div>
							</div>
						</div>
						<hr class="mb-4 mt-0">
						<div class="row">
							<div class="col-md-3">
								<h6>2. Pricing</h6>
							</div>
							<div class="col-md-9">
								<div class="mb-4">
									<label asp-for="CostPrice" class="form-label"></label>
									<input asp-for="CostPrice" class="form-control">
									<span asp-validation-for="CostPrice" class="text-danger text-sm"></span>
								</div>
								<div class="mb-4">
									<label asp-for="SellPrice" class="form-label"></label>
									<input asp-for="SellPrice" class="form-control">
									<span asp-validation-for="SellPrice" class="text-danger text-sm"></span>
								</div>
								<div class="mb-4">
									<label asp-for="Discount" class="form-label"></label>
									<input asp-for="Discount" value="0" class="form-control">
									<span asp-validation-for="Discount" class="text-danger text-sm"></span>
								</div>
							</div> <!-- col.// -->
						</div>
						<hr class="mb-4 mt-0">
						<div class="row">
							<div class="col-md-3">
								<h6>3. Media</h6>
							</div>
							<div class="col-md-9">
								<div class="mb-4">
									<label asp-for="ImageFile" class="form-label">Cover Image(required)</label>
									<input asp-for="ImageFile" accept="image/*" class="form-control">
									<span asp-validation-for="ImageFile" class="text-danger text-sm"></span>
								</div>
								<div class="mb-4">
									<label asp-for="ImageFiles" class="form-label">Other Images</label>
									<input asp-for="ImageFiles" accept="image/*" class="form-control">
									<span asp-validation-for="ImageFiles" class="text-danger text-sm"></span>
								</div>
							</div> <!-- col.// -->
						</div>
						<button class="btn btn-primary">Create</button>
					</form>
				</div>
			</div>
		</div>
	</div>

</section>