@model CategoryCreateVM
<section class="content-main">
	<div class="content-header">
		<h2 class="content-title">Add New Category</h2>
		<div>
			<a asp-action="Index" class="btn btn-md rounded font-sm hover-up">Go to list</a>
		</div>
	</div>
	<div class="card mb-4">
		<form method="post" enctype="multipart/form-data" class="card-body">
			<div class="mb-4">
				<label asp-for="Name" class="form-label"></label>
				<input asp-for="Name" class="form-control">
				<span class="text-sm text-danger" asp-validation-for="Name"></span>
			</div>
			<button type="submit" class="btn btn-primary">Create</button>
		</form>
	</div>
</section>

